/* Account In Styles Here */
section.nl-account_meta_info-header {
    position: relative;
    padding: 8px 0 38px;
    margin-bottom: 40px;
}
section.nl-account_meta_info-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(270deg, rgba(235, 218, 235, 0) 0%, #EBDAEB 51.56%, rgba(235, 218, 235, 0) 100%);
}
.nl-part {
    -webkit-column-gap: 10px;
    column-gap: 10px;
}
.nl-btn_pink {
    padding: 8px;
    border-radius: 14px;
    background-color: #F9F0F9;
    height: fit-content;
}
.nl-btn_pink:hover {
    filter: brightness(.85);
}
.nl-go_back {
    width: 40px;
}
.nl-part {
    -webkit-column-gap: 10px;
    column-gap: 10px;
}
.nl-account_avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 14px;
}
.nl-meta_info {
    -webkit-column-gap: 10px;
    column-gap: 10px;
    align-items: center;
}
.nl-mi_text-wrap h3 {
    margin: 0;
    font-size: 20px;
    color: var(--blue);
}
.nl-mi_text-wrap p {
    font-size: 12px;
    color: #8E9BB1;
}
/* Right Part Styles */
.nl-meta_info-list {
    -webkit-column-gap: 35px;
    column-gap: 35px;
    margin-right: 35px;
}
.nl-mil_item p {
    font-size: 10px;
    color: #BBC3D2;
}
.nl-mil_item h4 {
    margin: 5px 0 0;
    font-size: 12px;
    font-weight: 400;
    color: var(--blue);
}
.nl-meta_info-list .nl-mil_item:nth-child(2) h4 {
    font-weight: 800;
    line-height: 1;
    color: var(--green);
}
.nl-meta_info-list .nl-mil_item.red h4 {
    color: var(--red);
}

.nl-btn_transparent {
    border: 1px solid #EBDAEB;
    border-radius: 14px;
    padding: 10px 15px;
    background-color: transparent;
    color: #BFA4BF;
    font-size: 14px;
}
.nl-btn_transparent:hover {
    filter: brightness(.8);
}
.nl-btn_grad {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 8px 15px;
    border-radius: 14px;
    border: none;
    background: linear-gradient(278.3deg, #CA10EA 5.65%, #E73C79 131.48%);
}

/* Album Styles */
.nl-album {
    width: calc((100px * 2) + (7px * (2 - 1)));
    align-content: baseline;
}
.nl-a_item {
    position: relative;
    width: 100px;
    height: 140px;
    margin-right: 7px;
    margin-bottom: 7px;
    border-radius: 14px;
    overflow: hidden;
}
.nl-album .nl-a_item:nth-child(2n) {
    margin-right: 0;
}
.nl-a_item img {
    position: absolute;
    max-width: 150%;
    left: -25%;
    top: 0;
}
/* Sticks Styles */
.nl-info_sticks {
    width: 380px;
    align-content: baseline;
}
.nl-is_item {
    padding: 10px 15px;
    border-radius: 14px;
    background-color: #F9F0F9;
    margin-bottom: 8px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    -webkit-row-gap: 10px;
    row-gap: 10px;
}
.nl-is_item h4 {
    width: 100%;
    margin: 0;
    font-size: 14px;
    color: var(--blue);
}
.nl-is_item p {
    font-size: 14px;
    color: var(--blue);
}
.nl-is_item span {
    font-size: 12px;
    color: var(--blue);
    padding: 8px 15px;
    border: 1px solid #F1DCF1;
    border-radius: 8px;
}
/* Chat Styles */
.nl-chat {
    width: 410px;
    border-radius: 14px;
    border: 1px solid #EBDAEB;
    padding: 10px 15px;
}
.nl-tab_nav {
    margin-bottom: 25px;
}
.nl-tab_nav li {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: #BFA4BF;
    margin-right: 15px;
}
.nl-tab_nav li:last-child {
    margin-right: 0;
}
.nl-tab_nav li.active {
    color: var(--blue);
}
.nl-nd-tab_nav {
    position: relative;
    -webkit-row-gap: 7px;
    row-gap: 7px;
    padding-bottom: 15px;
}
.nl-nd-tab_nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(270deg, rgba(235, 218, 235, 0) 0%, #EBDAEB 51.56%, rgba(235, 218, 235, 0) 100%);
}
.nl-nd-tab_nav li {
    font-size: 12px;
    color: var(--blue);
    padding: 5px 10px;
    margin-right: 7px;
    border-radius: 9px;
    background-color: var(--light-gray);
    cursor: pointer;
    transition: filter .3s ease;
}
.nl-nd-tab_nav li:last-child {
    margin-right: 0;
}
.nl-nd-tab_nav li:hover {
    filter: brightness(.9);
}
.nl-nd-tab_nav li.active {
    color: #fff;
    background-color: var(--blue);
}
.nl-chat-list {
    height: 330px;
    overflow-y: scroll;
}
.nl-chat-list::-webkit-scrollbar {
  width: 15px;
}
.nl-chat-list::-webkit-scrollbar-track {
  background: #F9F0F9;
  border-radius: 9px
}
.nl-chat-list::-webkit-scrollbar-thumb {
  background: #DFC7DF;
  border: 5px solid #F9F0F9;
  border-radius: 9px
}
.nl-chl_item {
    position: relative;
    padding: 18px 0;
    cursor: pointer;
}
.nl-chl_item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(270deg, rgba(235, 218, 235, 0) 0%, #EBDAEB 51.56%, rgba(235, 218, 235, 0) 100%);
}
.nl-chli_avatar {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 20px;
    overflow: hidden;
}
.nl-chli_icon {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(274.91deg, #001A48 -85.39%, #E73C79 130%);
}
.nl-chli_icon.pink {
    background: linear-gradient(278.3deg, #CA10EA 5.65%, #E73C79 131.48%);
}
.nl-chli_info-text_wrap {
    width: calc(100% - 63px);
    margin-left: 15px;
}
.nl-chli_info-text_wrap h4 {
    margin: 0;
    width: 50%;
    font-size: 12px;
    font-weight: 800;
    color: var(--blue);
}
.nl-chli_info-text_wrap p {
    width: 50%;
    font-size: 12px;
    color: #B7BECB;
    text-align: right;
}
.claim .nl-chli_info-text_wrap h4 {
    width: 60%;
}
.claim .nl-chli_info-text_wrap p {
    width: 40%;
}
.nl-chli_info-text_wrap p.nl-chliitw_message {
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: var(--blue);
}
.nl-chliitw_message-status {
    width: 100%;
    margin-top: 5px;
}
.nl-chliitw_message-status p {
    font-size: 10px;
    width: calc(100% - 20px);
    text-align: left;
}
.nl-chliitw_message-status.pink p {
    width: 100%;
    color: #CB11EA;
}
/* Important Info Styles */
.nl-important-info {
    width: 190px;
    height: fit-content;
}
.nl-if_item {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 12px;
    background-color: #F9F0F9;
    border-radius: 14px;
    align-items: center;
}
.nl-ifi_info-wrap {
    width: calc(100% - 40px);
    margin-right: 8px;
}
.nl-ifi_info-wrap h3 {
    margin: 0;
    font-size: 20px;
    color: var(--blue);
}
.nl-ifi_info-wrap p {
    font-size: 12px;
    color: var(--blue);
}
.nl-if_item.nl-dfw.transparent {
    border: 2px solid #F9F0F9;
    background-color: transparent;
}
.nl-if_item.nl-dfw.transparent h3 {
    font-size: 14px;
}
.nl-ifi_info-wrap p {
    font-size: 10px;
}
.nl-if_item.nl-dfw.transparent .nl-ifi_info-wrap {
    width: 100%;
    margin: 0;
}
.nl-if_item.nl-dfw.transparent .nl-btn_transparent {
    border: none;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
}
/* Show More Styles */
.nl-show_more {
    position: relative;
    overflow: hidden;
    padding-bottom: 45px;
    box-sizing: content-box;
    transition: all .3s ease;
}
.nl-show_more.not_opened {
    padding-bottom: 0;
    transition: all .3s ease;
}
.nl-show_more.not_opened::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: transparent;
    z-index: -1;
}
.nl-show_more.not_opened::after {
    background-image: linear-gradient(0deg, #fff 50%, #fff1 100%);
    z-index: 1;
}
.nl-show_more .nl-shm_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s ease;
}
.nl-show_more.not_opened .nl-shm_btn {
    top: auto;
    left: 15px;
    z-index: 2;
}
/* POP UPs Styles */
.nl-pop_up[data-target="history"] .nl-pop_up-wrap {
    width: 710px;
}
.nl-ipl_item {
    border-bottom: 1px solid #F2E5F2;
}
.nl-ipl_item:first-child {
    border-bottom: none;
}
.nl-ipl_item .ip {
    width: 125px;
    font-weight: 600;
}
.nl-ipl_item .date {
    width: 140px;
    font-size: 10px;
}
.nl-ipl_item .device {
    width: 180px;
}
.nl-ipl_item .lang {
    width: 80px;
}
.nl-ipl_item .version {
    width: 80px;
}
.nl-ipl_item > div {
    padding: 10px 2px 10px 15px;
    font-size: 12px;
    color: var(--blue);
}
.nl-ipl_item:first-child > div {
    background-color: var(--light-gray);
    border-radius: 4px;
    color: #BFA4BF;
}
.nl-ip-list.not_opened .nl-shm_btn {
    left: 0
}
/*Chat Styles*/
.nl-pop_up[data-type="chat"]  .nl-pop_up-wrap{
    padding: 20px;
}
.nl-pop_up-wrap.chat .nl-pop_up-header {
    position: relative;
    padding-bottom: 15px;
}
.nl-pop_up-wrap.chat .nl-pop_up-header::after {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: 1px;
    bottom: 0;
    left: -20px;
    background-color: #F4E7F4;
}
.nl-pop_up-wrap.chat .nl-pop_up-header i {
    top: 0;
    right: 0;
}
.nl-pop_chat-wrap {
    height: 410px;
    overflow-y: scroll;
    padding-right: 10px;
}
.nl-pop_chat-wrap::-webkit-scrollbar {
  width: 15px;
}
.nl-pop_chat-wrap::-webkit-scrollbar-track {
  background: #F9F0F9;
  border-radius: 9px
}
.nl-pop_chat-wrap::-webkit-scrollbar-thumb {
  background: #DFC7DF;
  border: 5px solid #F9F0F9;
  border-radius: 9px
}
.nl-pch_date {
    position: relative;
    font-size: 10px;
    font-weight: bold;
    color: #B7BECB;
    text-align: center;
    margin: 15px 0;
    padding-bottom: 10px;
}
.nl-pch_date::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(270deg, rgba(235, 218, 235, 0) 0%, #EBDAEB 51.56%, rgba(235, 218, 235, 0) 100%);
}
.nl-pch_item {
    width: fit-content;
    max-width: 98%;
    margin-bottom: 20px;
}
.nl-pch_item.me {
    margin-left: auto;
}
.nl-pch_item.red {
    width: 80%;
}
.nl-pch_item.red p.nl-pchi_message {
    border-color: #ED4B47;
}
.nl-pchi_header span {
    font-size: 10px;
    color: #B7BECB;
    padding: 0 15px
}
.nl-pchi_header p {
    font-size: 12px;
    color: #ED4B47;
}
.nl-pchi_header h4 {
    font-size: 12px;
    margin: 0;
    color: var(--blue);
}
.nl-pop_up-wrap.claim .nl-pchi_header h4 {
    width: 100%;
}
.nl-pchi_header {
    margin-bottom: 5px;
    align-items: center;
}
.nl-pchi_message {
    padding: 10px 15px;
    border-radius: 20px 4px 20px 20px;
    border: 1px solid #F991CF;
    font-size: 14px;
    color: var(--blue);
}
.nl-pch_item.him .nl-pchi_message {
    border-color: #DE7CEE;
    border-radius: 4px 20px 20px 20px;
}
.nl-warn {
    text-align: center;
    width: calc(100% + 15px);
    padding: 10px 15px;
    margin: 5px -7.5px -5px;
    border-radius: 16px 2px 16px 16px;
    background-color: #ED4B47;
    color: #fff;
}
.nl-pchi_comment {
    font-size: 10px;
    color: #9AA5BA;
    text-align: center;
    width: 100%;
}
.nl-pchi_comment.claim {
    margin-top: 10px;
    padding: 5px;
    border-radius: 14px;
    border: 1px solid #EBDAEB;
}

/* ---------- Media Styles ---------- */
@media (max-width: 1200px) { ... }
@media (max-width: 992px) { ... }
@media (max-width: 768px) { ... }
@media (max-width: 576px) { ... }
