/* Account In Styles Here */
section.nl-account_meta_info-header {
    position: relative;
    padding: 8px 0 38px;
    margin-bottom: 40px;
}
section.nl-account_meta_info-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(270deg, rgba(235, 218, 235, 0) 0%, #EBDAEB 51.56%, rgba(235, 218, 235, 0) 100%);
}
.nl-part {
    column-gap: 10px;
}
.nl-btn_pink {
    padding: 8px;
    border-radius: 14px;
    background-color: #F9F0F9;
    height: fit-content;
}
.nl-btn_pink:hover {
    filter: brightness(.85);
}
.nl-go_back {
    width: 40px;
}
.nl-part {
    column-gap: 10px;
}
.nl-account_avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 14px;
}
.nl-meta_info {
    column-gap: 10px;
    align-items: center;
}
.nl-mi_text-wrap h3 {
    margin: 0;
    font-size: 20px;
    color: var(--blue);
}
.nl-mi_text-wrap p {
    font-size: 12px;
    color: #8E9BB1;
}
/* Right Part Styles */
.nl-meta_info-list {
    column-gap: 35px;
    margin-right: 35px;
}
.nl-mil_item p {
    font-size: 10px;
    color: #BBC3D2;
}
.nl-mil_item h4 {
    margin: 5px 0 0;
    font-size: 12px;
    color: var(--blue);
}
.nl-meta_info-list .nl-mil_item:nth-child(2) h4 {
    font-weight: 800;
    line-height: 1;
    color: var(--green);
}
.nl-meta_info-list .nl-mil_item.red h4 {
    color: var(--red);
}

.nl-btn_transparent {
    border: 1px solid #EBDAEB;
    border-radius: 14px;
    padding: 10px 15px;
    background-color: transparent;
    color: #BFA4BF;
    font-size: 14px;
}
.nl-btn_transparent:hover {
    filter: brightness(.8);
}
.nl-btn_grad {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 8px 15px;
    border-radius: 14px;
    border: none;
    background: linear-gradient(278.3deg, #CA10EA 5.65%, #E73C79 131.48%);
}

/* Album Styles */
.nl-album {
    column-gap: 7px;
    row-gap: 7px;
    width: calc((100px * 2) + (7px * (2 - 1)));
    align-content: baseline;
}
.nl-a_item {
    position: relative;
    width: 100px;
    height: 140px;
    border-radius: 14px;
    overflow: hidden;
}
.nl-a_item img {
    position: absolute;
    max-width: 150%;
    left: -25%;
    top: 0;
}
/* Sticks Styles */
.nl-info_sticks {
    width: 380px;
    align-content: baseline;
}
.nl-is_item {
    padding: 10px 15px;
    border-radius: 14px;
    background-color: #F9F0F9;
    margin-bottom: 8px;
    column-gap: 10px;
    row-gap: 10px;
}
.nl-is_item h4 {
    width: 100%;
    margin: 0;
    font-size: 14px;
    color: var(--blue);
}
.nl-is_item p {
    font-size: 14px;
    color: var(--blue);
}
.nl-is_item span {
    font-size: 12px;
    color: var(--blue);
    padding: 8px 15px;
    border: 1px solid #F1DCF1;
    border-radius: 8px;
}
/* Chat Styles */
.nl-chat {
    width: 410px;
    border-radius: 14px;
    border: 1px solid #EBDAEB;
    padding: 10px 15px;
}
.nl-tab_nav {
    column-gap: 15px;
    margin-bottom: 25px;
}
.nl-tab_nav li {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: #BFA4BF;
}
.nl-tab_nav li.active {
    color: var(--blue);
}
.nl-nd-tab_nav {
    position: relative;
    column-gap: 7px;
    row-gap: 7px;
    padding-bottom: 15px;
}
.nl-nd-tab_nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(270deg, rgba(235, 218, 235, 0) 0%, #EBDAEB 51.56%, rgba(235, 218, 235, 0) 100%);
}
.nl-nd-tab_nav li {
    font-size: 12px;
    color: var(--blue);
    padding: 5px 10px;
    border-radius: 9px;
    background-color: var(--light-gray);
    cursor: pointer;
    transition: filter .3s ease;
}
.nl-nd-tab_nav li:hover {
    filter: brightness(.9);
}
.nl-nd-tab_nav li.active {
    color: #fff;
    background-color: var(--blue);
}
.nl-chat-list {
    height: 330px;
    overflow-y: scroll;
}
.nl-chat-list::-webkit-scrollbar {
  width: 15px;
}
.nl-chat-list::-webkit-scrollbar-track {
  background: #F9F0F9;
  border-radius: 9px
}
.nl-chat-list::-webkit-scrollbar-thumb {
  background: #DFC7DF;
  border: 5px solid #F9F0F9;
  border-radius: 9px
}
.nl-chl_item {
    position: relative;
    padding: 18px 0;
}
.nl-chl_item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(270deg, rgba(235, 218, 235, 0) 0%, #EBDAEB 51.56%, rgba(235, 218, 235, 0) 100%);
}
.nl-chli_avatar {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 20px;
    overflow: hidden;
}
.nl-chli_icon {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(274.91deg, #001A48 -85.39%, #E73C79 130%);
}
.nl-chli_icon.pink {
    background: linear-gradient(278.3deg, #CA10EA 5.65%, #E73C79 131.48%);
}
.nl-chli_info-text_wrap {
    width: calc(100% - 63px);
    margin-left: 15px;
}
.nl-chli_info-text_wrap h4 {
    margin: 0;
    width: 50%;
    font-size: 12px;
    font-weight: 800;
    color: var(--blue);
}
.nl-chli_info-text_wrap p {
    width: 50%;
    font-size: 12px;
    color: #B7BECB;
    text-align: right;
}
.claim .nl-chli_info-text_wrap h4 {
    width: 60%;
}
.claim .nl-chli_info-text_wrap p {
    width: 40%;
}
.nl-chli_info-text_wrap p.nl-chliitw_message {
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: var(--blue);
}
.nl-chliitw_message-status {
    width: 100%;
    margin-top: 5px;
}
.nl-chliitw_message-status p {
    font-size: 10px;
    width: calc(100% - 20px);
    text-align: left;
}
.nl-chliitw_message-status.pink p {
    width: 100%;
    color: #CB11EA;
}
/* Important Info Styles */
.nl-important-info {
    width: 190px;
    row-gap: 12px;
    height: fit-content;
}
.nl-if_item {
    width: 100%;
    padding: 10px 15px;
    background-color: #F9F0F9;
    border-radius: 14px;
    align-items: center;
}
.nl-ifi_info-wrap {
    width: calc(100% - 40px);
    margin-right: 8px;
}
.nl-ifi_info-wrap h3 {
    margin: 0;
    font-size: 20px;
    color: var(--blue);
}
.nl-ifi_info-wrap p {
    font-size: 12px;
    color: var(--blue);
}
.nl-if_item.nl-dfw.transparent {
    border: 2px solid #F9F0F9;
    background-color: transparent;
}
.nl-if_item.nl-dfw.transparent h3 {
    font-size: 14px;
}
.nl-ifi_info-wrap p {
    font-size: 10px;
}
.nl-if_item.nl-dfw.transparent .nl-ifi_info-wrap {
    width: 100%;
    margin: 0;
}
.nl-if_item.nl-dfw.transparent .nl-btn_transparent {
    border: none;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
}
/* Show More Styles */
.nl-show_more {
    position: relative;
    overflow: hidden;
    padding-bottom: 45px;
    box-sizing: content-box;
    transition: all .3s ease;
}
.nl-show_more.not_opened {
    padding-bottom: 0;
    transition: all .3s ease;
}
.nl-show_more.not_opened::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: transparent;
    z-index: -1;
}
.nl-show_more.not_opened::after {
    background-image: linear-gradient(0deg, #fff 40%, transparent 100%);
    z-index: 1;
}
.nl-show_more .nl-shm_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s ease;
}
.nl-show_more.not_opened .nl-shm_btn {
    top: auto;
    left: 15px;
    z-index: 2;
}

/* ---------- Media Styles ---------- */
@media (max-width: 1200px) { ... }
@media (max-width: 992px) { ... }
@media (max-width: 768px) { ... }
@media (max-width: 576px) { ... }
